<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CSAuto.Properties.Settings>
            <setting name="runAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveDebugFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAcceptMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoReload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preferArmor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoBuyDefuseKit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoBuyArmor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinueSpraying" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPausePlaySpotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableDiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phoneIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="mobileAppEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </CSAuto.Properties.Settings>
    </userSettings>
</configuration>