<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSAuto.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CSAuto.Properties.Settings>
            <setting name="runAtStartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveDebugFrames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAcceptMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoReload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preferArmor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoBuyDefuseKit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoBuyArmor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinueSpraying" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoPausePlaySpotify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="enableDiscordRPC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="phoneIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="mobileAppEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentLanguage" serializeAs="String">
                <value>language_english</value>
            </setting>
            <setting name="acceptedNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mapNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lobbyNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="connectedNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="crashedNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bombNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="steamAPIkey" serializeAs="String">
                <value />
            </setting>
            <setting name="enableLobbyCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="telegramChatId" serializeAs="String">
                <value />
            </setting>
            <setting name="darkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="currentColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="lobbyDetails" serializeAs="String">
                <value>FriendCode: {FriendCode}</value>
            </setting>
            <setting name="lobbyState" serializeAs="String">
                <value>Chilling in lobby</value>
            </setting>
            <setting name="inGameDetails" serializeAs="String">
                <value>{Gamemode} - {Map}</value>
            </setting>
            <setting name="inGameState" serializeAs="String">
                <value>{TeamScore} [{MyTeam}] ({RoundState}) {EnemyScore} [{EnemyTeam}]</value>
            </setting>
            <setting name="oldAutoBuy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendAcceptImage" serializeAs="String">
                <value>False</value>
            </setting>
        </CSAuto.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CSAuto.Properties.Settings>
            <setting name="availableColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Red</string>
                        <string>Green</string>
                        <string>Blue</string>
                        <string>Purple</string>
                        <string>Orange</string>
                        <string>Lime</string>
                        <string>Emerald</string>
                        <string>Teal</string>
                        <string>Cyan</string>
                        <string>Cobalt</string>
                        <string>Indigo</string>
                        <string>Violet</string>
                        <string>Pink</string>
                        <string>Magenta</string>
                        <string>Crimson</string>
                        <string>Amber</string>
                        <string>Yellow</string>
                        <string>Brown</string>
                        <string>Olive</string>
                        <string>Steel</string>
                        <string>Mauve</string>
                        <string>Taupe</string>
                        <string>Sienna</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CSAuto.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ControlzEx" publicKeyToken="69f1c32f803d307e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>